.button {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
}

.dark {
  background-color: #333;
  color: #fff;
}

.white {
  background-color: #fff;
  color: #333;
}
